@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">О работе программы</h1>
    <div><p>В данной программе реализована рассылка сообщений всем студентам, при условии что  Σ(<i>a</i>[i]) >= Σ(a) - 1
        <a asp-controller="Home" asp-action="StudentCount">Проверить работу программы</a>
    </p></div>
</div>
