@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">О работе программы</h1>
    <div><p>В данной программе поведение студентов приближено к реальности, при пересылке сообщения о тесте, никто из
        студентов не знает знает-ли другой студент о тесте и рандомно пересылает его другим, кроме себя и того кто ему отправил.
        <a asp-controller="Home" asp-action="StudentCount">Проверить работу программы</a>
    </p></div>
</div>
