@model Student
@{
    ViewData["Title"] = "Количество студентов";
}
<h1>Введите количество студентов</h1>
<form method="post" asp-controller = "Home" asp-action= "MessagesCount">
    <input asp-for="CountStudent" id = "studentInput"/>
    <input type="submit" name="Дальше"/>
</form>
